body {
    font-family: 'Roboto', sans-serif;
    color: #570b57;
}

div {
    -webkit-box-shadow: 0px 0px 70px -1px rgba(87,11,87,1);
-moz-box-shadow: 0px 0px 70px -1px rgba(87,11,87,1);
box-shadow: 0px 0px 70px -1px rgba(87,11,87,1);
    padding: 1rem;
    box-shadow: 1rem;
}
.block {
    width: 80%;
    margin: 1rem auto;
}

input {
    display: block;
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 12px auto;
    height: 1rem;
    font-size: large;
    color: #570b57;
}

input:focus {
    outline-width: 0px;
}
label {
    opacity: .3;
    color: #570b57;
    font-size: 12px;
}

button {
    background-color: #570b57;
    color: whitesmoke;
    padding: .5rem;
    margin: 3px 0px;
}